.header{
    width: 100%;
    height: 70px;
    box-shadow: 10px 10px 100px rgb(160, 156, 156);
    .container{
        width:auto;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .left h2{
            margin-top: 20px;
            cursor: pointer;
            font-family:'Roboto', sans-serif;
            font-size: 24px;
            margin-left: 80px;
            color:black;
        }

        .right{
            display: flex;
            align-items: center;
            margin-top: 15px;
            cursor: pointer;
            i.fas.fa-cart-plus{
                font-size: 30px;
                margin-right: 5px;
            }
            .count{
                background: rgb(212, 41, 41);
                color:azure;
                padding: 4px 8px;
                border-radius: 50%;
                margin-bottom: 20px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                position:absolute;
                top:-8px;
                right: -8px;
            }
            
        }
    }
